files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "run_as_user": "root"
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/app/current/info.log",
                  "log_group_name": "info.log",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }